
  .heading {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  
  .login-container {
    max-width: 325px;
    margin: auto;
    padding: 45px;
    
    text-align: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.2);
  }
  input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    margin: 10px auto;
    margin-left:-8px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .button:hover {
    transform: scale(1.05);
  }
  .input-email,
  .input-password {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
  }
  .social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .login-box {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  .social-buttons button {
    display: flex;
    align-items: center;
    gap: 5px;
  }